* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  } 

  .main-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1440px; 
    
    margin: 0 auto;  
    
    background-color: cornsilk;  
  }

  .pattern {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 0;   
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.nav-link {
    padding: 10px;
    line-height: 30px;

    color:rgb(102, 100, 100);
    text-decoration: none;
    white-space: nowrap;
}

.nav-link-git {
    padding: 0px;
    line-height: 0px;

    color: rgb(102, 100, 100);
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-size: 18px;
  line-height: 27px;
  
  background-color: cornsilk
}

.section {
   width: 50%;
 }

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px 15px;
    background-color: cornsilk
  }

  .section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 50px 50px;
    margin: 0 0 20px;
    border-bottom: 3px dotted rgb(102, 100, 100);
    border-top: 3px dotted rgb(102, 100, 100);
   
}

.profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  }

  .header {
    font-size: 18px;
    color:rgb(102, 100, 100)
 }

 .avatar {
  width: 150px;
  height: 150px;
}

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

footer {
    width: 100%; 
    max-width: 1440px;
    background-color: cornsilk;   
    }

    .footer {
      display: flex;
      flex-direction: column;
      padding: 0 50px 10;
      margin: 0 auto;
      
      background-color: cornsilk;   
      }

    .footer-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      margin: 0 auto;
    }

    
    .code {
      font-size: 16px;
    }

    span {
      font-weight: bold;
    }

 